<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        <br/>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if current_page == 1 %}
                <li class="page-item disabled"><a class="page-link" href="/pages/index{{current_page-1}}.html">Назад</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="/pages/index{{current_page-1}}.html">Назад</a></li>
              {% endif %}
                {% for page_index in range(1, page_indexes) %}
                  {% if page_index==current_page %}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="/pages/index{{page_index}}.html">{{page_index}}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="/pages/index{{page_index}}.html">{{page_index}}</a></li>
                  {% endif %}
                {% endfor %}
              {% if current_page == pages_quantity %}
                <li class="page-item disabled"><a class="page-link" href="/pages/index{{current_page+1}}.html">Вперёд</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="/pages/index{{current_page+1}}.html">Вперёд</a></li>
              {% endif %}
            </ul>
          </nav>
      {% for page in chuncked_pages %}
        <div class="row">
          {% for card_content in page %}
            <div class="col-md-6">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{card_content.book_image_url}}" class="card-img" alt="обложка книги">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{card_content.book_title}}</h5>
                      <p class="card-text">{{card_content.author_name}}</p>
                      {% for genre in card_content.genres %}
                        <span class="badge badge-light">{{genre}}</span>
                      {% endfor %}
                      <br>
                      <br>
                      <a href="parse_library/books/{{card_content['book_title'] + '.txt'|urlencode}}" target="_blank">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>